include ./mixin-svg.pug
include ./mixin-image-svg.pug
- var icons = ["calendario", "check", "cuota", "dinero", "duda", "home", "icon_check_thankyou", "lista", "reloj"]
- var images = ["facebook-line", "facebook", "google-line", "google", "heart-line", "heart", "pinterest-line", "twitter-line", "twitter"]

doctype html
html
	head
		link(href='css/style.css', rel='stylesheet')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		nav
			a(href="page1.html") Page1
			a(href="page2.html") Page2
			a(href="page3.html") Page3
		section.b-container-icons
			h1 Svg Icons
			ul.b-list-icons
				each val in icons
					li
						+svg(val)
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

			//- ul.b-list-icons
			//- 	each val in images
			//- 		li
			//- 			+image-svg(val)
			//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
